@import "colors";
body{
  background-color: #D8D8D8;
}
.container{
  margin-top: 16px;
  background-color: white;
  .profile-image{
    height: 360px;
    overflow: hidden;
    img{
      height: auto;
      width: 390px;
    }
  }
  .row1{
    *{
      color:#ECECEC;
    }
    .col-sm-4{
      padding:0;
    }
    .heading{
      .title-icon{
        background: #474747;
        min-height: 120px;
        max-height: 120px;
        text-align: center;
        font-size:30px;
        padding: 34px 0 0;
      }
      &.heading-2{
        .title-icon{
          background-color: #3B3B3B;
        }
      }
    }
    .position-title{
      height:120px;
      padding: 23px 40px 34px 40px;
      margin:0;
      background-color: #3F3F3F;
    }
    .title-name{
      background-color: #4F4F4F;
    }
  }
  .menu-items{
    .menu-item{
      height:120px;
      text-align: center;
      padding-top:19px;
      .menu-item-icon{
        display: block;
        font-size:30px;
      }
      .menu-item-title{
        font-size: 14px;
        font-weight: 600;
        line-height: 22px;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }
  }

  #details{
    .features{
      padding: 50px;
      .icon{
        color: #3498db;
        font-size: 32px;
        line-height: 40px;
      }
    }
  }
  #personal-info{
    padding: 50px;
    background-color: #EFEFEF;
    h3.personal-info-heading{
      margin-bottom: 40px;
    }
    .box{
      margin-bottom: 13px;
      display:block;
      clear:both;
      h4{
        display:inline-block;
        width: 30%;
        margin-top: 0;
        vertical-align: top;
        text-transform: uppercase;
        white-space: nowrap;
        font-size:14px;
        font-weight: bold;
        padding-right: 8px;
        line-height: 20px;
      }
      .personal-info-body{
        line-height: 20px;
        width:60%;
        display: inline-block;
      }
    }
  }
}
